
/*Apenas na pagina inicial do backend dos produtos*/

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box {
    width: 1000px;
}
.container table {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}