html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* ╔═══════════════════════════╗ */
/* ║     Navbar Components     ║ */
/* ╚═══════════════════════════╝ */

.nav-logo {
    width:100px;
    height: auto;
    margin-left: 25px;
}

.nav-content {
    margin-left: 30px;
}

.header-right {
    float: right;
    margin-right: 25px;
}

/* ╔══════════════════════════╗ */
/* ║     Image Components     ║ */
/* ╚══════════════════════════╝ */

img {
    max-width: 100%;
    max-height: 100%;
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

/* ***** End of Section ***** */


/* ╔═════════════════════════╗ */
/* ║     Wave Components     ║ */
/* ╚═════════════════════════╝ */

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(130, 204, 221, 1) 25%, rgba(243, 105, 88, 1) 100%);
    color:white;
}

.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}

/* ■ ■ Shrinking for mobile ■ ■ */

@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
}

/* ***** End of Section ***** */


/* ╔═════════════════════════╗ */
/* ║     Line Components     ║ */
/* ╚═════════════════════════╝ */

/* ■ ■ Header Line Design ■ ■ */

#footer:after,#footer:before {
    /* background: linear-gradient(90deg, rgba(190,78,114,1) 0%, rgba(254,117,98,1) 33.33%, rgba(86,72,105,1) 66.66%,  rgba(126,70,99,1) 100%) ;*/
    /* background-image: linear-gradient(90deg, rgba(107,208,228,1) 0%, rgba(96,78,177,1) 33%, rgba(200,142,102,1) 66%, rgba(201,85,169,1) 100%); */ /* w3c */
    background-image: linear-gradient(90deg, rgba(130, 204, 221, 1) 0%, rgba(96,78,177,1) 33%, rgba(201,85,169,1) 66%, rgba(243, 105, 88,1) 100%);
    content:"";
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    height:5px;
}

/* ■ ■ Footer Line Design ■ ■ */

#footer {
    position:relative;
}

#footer:before {
    position:absolute;
    top:0;
    height:3px;
}

#footer:after {
    position:absolute;
    bottom:1px;
    top:unset;
    height:3px;
}

/* ***** End of Section ***** */


/* ╔══════════════════════════════════╗ */
/* ║     Reflex Button Components     ║ */
/* ╚══════════════════════════════════╝ */

.btn-reflex {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btn-reflex span {
    z-index: 20;
}

.btn-reflex:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    width: 50px;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    z-index: -10;
}

.btn-reflex:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* ***** End of Section ***** */


/* ╔══════════════════════════════════════════╗ */
/* ║     Authentication Button Components     ║ */
/* ╚══════════════════════════════════════════╝ */

.btn-box-auth {
    box-sizing: border-box;
    float: left;
    text-align:center;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    border: 0;
    animation: shadowFloat 1.2s linear alternate infinite;
}

.btn-primary-auth {
    background: linear-gradient(135deg, rgba(130, 204, 221, 1) 0%, rgba(243, 105, 88, 1) 100%);
    border-radius: 15px 0px 0px 50px !important;
}

.btn-secondary-auth {
    /*background: linear-gradient(45deg, rgba(51, 50, 88, 1) 0%, rgba(140, 148, 204, 1) 100%);*/
    background: linear-gradient(135deg, rgba(140, 148, 204, 1) 0%, rgba(71, 71, 135, 1) 100%);
    border-radius: 0px 50px 15px 0px !important;
}

.split-buttons {
    margin: 0 auto;
    position: relative;
    width: 300px; /* 350 */
}

.split-buttons span {
    background: #323740;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 34px;
    width: 30px;
    cursor: default;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    /* border-radius: 50%; */
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    animation: shadowFloat-span 1.2s linear alternate infinite;
}

.split-buttons .btn-box-auth {
    display: inline-block;
    margin: 0;
    font: bold 16px "Arial";
    font-style: italic;
    padding: 8px 0;
    text-transform: uppercase;
    width: 50%;
    cursor: default;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}

.btn-primary-auth:hover {
    color: #fff;
    background: linear-gradient(135deg, rgba(243, 105, 88, 1) 0%, rgba(130, 204, 221, 1) 100%);
}

.btn-secondary-auth:hover {
    color: #fff;
    background: linear-gradient(135deg, rgba(71, 71, 135, 1) 0%, rgba(140, 148, 204, 1) 100%);
}

/* ■ ■ Animation for Auth Button ■ ■ */

@keyframes shadowFloat {
    0% {
        box-shadow: 0 5px 9px ghostwhite;
        transform: translateY(-2px);
    }
    100% {
        box-shadow: 0 2px 2px ghostwhite;
        transform: translateY(2px);
    }
}

@keyframes shadowFloat-span {
    0% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}

/* ***** End of Section ***** */



.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    //background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(135deg, #ECE9E6 0%, #FFFFFF 100%);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: ghostwhite;
    background: linear-gradient(135deg, rgba(243, 105, 88, 1) 0%, rgba(130, 204, 221, 1) 100%);
    border-radius: 15px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*---------- Text Effect ----------*/

.red-effect:hover {
    color: #f36958;
    text-shadow: 0 0 5px #f36958,
    0 0 10px #f36958,
    0 0 20px #f36958,
    0 0 40px #f36958;
    transition: text-shadow .15s ease-in-out;
}

 .white-effect:hover {
     color: #ecf0f1;
     text-shadow: 0 0 5px #ecf0f1,
     0 0 10px #ecf0f1,
     0 0 20px #ecf0f1,
     0 0 40px #ecf0f1;
     transition: text-shadow .15s ease-in-out;
 }

/*---------- Copyright ----------*/

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright span:hover,
.copyright a:hover {
    color: #ecf0f1;
    text-shadow: 0 0 5px #ecf0f1,
    0 0 10px #ecf0f1,
    0 0 20px #ecf0f1,
    0 0 40px #ecf0f1;
    transition: text-shadow .15s ease-in-out;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}


/*---------- About Section ----------*/

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}

.sec-title {
    position:relative;
    z-index: 1;
    margin-bottom:60px;
}

.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #f36958;
    font-weight: 500;
    margin-bottom: 15px;
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size:40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom:18px;
}

.sec-title h2:before {
    position:absolute;
    content:'';
    left:0px;
    bottom:0px;
    width:50px;
    height:3px;
    background-color:#d1d2d6;
}

.sec-title .text {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.text-center h2:before {
    left:50%;
    margin-left: -25px;
}

.list-style-one {
    position:relative;
}

.list-style-one li {
    position:relative;
    font-size:16px;
    line-height:26px;
    color: #222222;
    font-weight:400;
    margin-bottom: 12px;
}

.list-style-one li i {
    color: #f36958;
}

.list-style-one li span {
    padding-left:25px;
}

.list-style-one li:before {
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: #f36958;
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
    color: #44bce2;
}

.about-section {
    position: relative;
    //padding: 120px 0 70px;
}

.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-left: 30px;
}

.about-section .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one {
    margin-bottom: 45px;
}

.about-section .image-column {
    position: relative;
}

.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
}

.about-section .image-column .inner-column:before {
    position: absolute;
    left: -75px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
}

.about-section .image-column .image-1 {
    position: relative;
}

.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    background-color: #f36958;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.about-section .image-column .video-link{
    position: absolute;
    left: 70px;
    top: 170px;
}

.about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover {
    background-color: #191e34;
}


/*---------- Testimonial Section ----------*/

.testimonials {
    //padding: 100px 0;
}
.testimonials h3 {
    margin-bottom: 20px;
}
.testimonials .card {
    border-bottom: 3px #f36958 solid !important;
    transition: 0.5s;
    margin-top: 60px;
}
.testimonials .card i {
    background-color: #f36958;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
}


/*---------- Card Section ----------*/

.card-section {
    display: flex;
    align-items: center;
    //min-height: 100vh;
    //background: #f8f8f8;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .grid {
        max-width: 1200px;
    }
}

.card__box {
    position: relative;
    flex: 1 1 100%;
    margin: 31px 0;
    padding: 20px;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .card__box {
        flex-basis: calc(33.33% - (62px + 40px));
        margin: 0 31px;
    }
}

.card__thumb {
    overflow: hidden;
}

.card__img {
    margin: -20px -20px 0;
}

.card__img img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.card__title {
    text-align: center;
}

.card__desc {
    margin-top: 20px;
    text-align: center;
}

.card__two .card__img {
    padding: 20px;
}

.card__one {
    transition: transform 0.5s;
}

.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
}

.card__one:hover, .card__one:focus {
    transform: scale3d(1.006, 1.006, 1);
}

.card__one:hover::after, .card__one:focus::after {
    opacity: 1;
}

.card__two::before, .card__two::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.38s ease-in-out, transform 0.35s ease-in-out;
    content: '';
    opacity: 0;
    pointer-events: none;
}

.card__two::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
}

.card__two::after {
    transform: scale3d(1, 0, 1);
    transform-origin: right top;
    border-right: 1px solid #acacac;
    border-left: 1px solid #acacac;
}

.card__two:hover::before, .card__two:focus::before, .card__two:hover::after, .card__two:focus::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.card__three::before, .card__three::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
}

.card__three::before {
    transform-origin: left top;
}

.card__three::after {
    transform-origin: right bottom;
}

.card__three:hover::before, .card__three:focus::before, .card__three:hover::after, .card__three:focus::after {
    transform: scale3d(1, 1, 1);
}


/*---------- Software Section ----------*/

.software-section {
    background-color: #f5f5f5;
}

.software-box {
    padding: 55px;
    background-color: #f36958;
    border-radius: 50px 20px;
    color: white;
}

.software-radius {
    width: 75%;
    border-radius: 10%;
}


/*---------- Presentation Section ----------*/

.presentation-box {
    padding: 55px;
    background-color: #f36958;
    border-radius: 20px 50px;
    color: white;
}

.presentation-radius {
    width: 75%;
    border-radius: 10%;
    float: right;
}

/*---------- Slide Image ----------*/

.slideanim {
    visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/* ■ ■ Animation for Image ■ ■ */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* ***** End of Section ***** */